* {
    box-sizing: border-box;
}

.container {
    max-inline-size: 1500px;
    margin-inline: auto;
    padding-inline: 1rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 4.5rem;
    height: 4.5rem;
}

.units {
    width: 6rem;
    height: 2rem;
    border-radius: 8px;
    background-color: #29283D;
    color: #ffffff;
}

html,
body {
    background-color: #050029ba;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

main {
    flex: 1;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
}

input {
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    padding-left: 15px;
}

input::placeholder {
    font-size: 17px;
    color: #1b2536;
}

.search {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    gap: 10px;
}

#searchBtn {
    width: 100px;
    height: 3.3rem;
    border: solid;
    border-color: black;
    border-radius: 10px;
    background-color: #5759D6;
    color: #ffffff;
    font-size: medium;
    font-family: 'Inter', sans-serif;
}

.two-column-layout {
    display: flex;
    gap: 40px;
}


/* LEFT SIDE */

.weather-section {
    width: 840px;
    flex-shrink: 0;
}

.weather-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 24px;
    gap: 350px;
    width: 100%;
    height: 260px;
    border-radius: 20px;

    background-image: url(../images/bg-today-large.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.weather-info {
    color: #ffffff;
    font-size: large;
}

.weather-temp {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.weather-icon {
    font-size: 48px;
}

.weather-temp span {
    color: #ffffff;
    font-size: 70px;
}


/* HOURLY CARD */

.hourly-card {
    width: 450px;
    padding: 30px 30px;
    border-radius: 20px;
    background-color: #29283d;
    color: white;
    flex-shrink: 0;
}

.hourly-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.hourly-header h2 {
    color: white;
    font-size: 17px;
}

.hourly-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.day-options select {
    background-color: #414673e2;
    color: white;
    border: 1px solid #4a4675;
    border-radius: 8px;
    padding: 6px 10px;
}

.hour {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    padding: 15px 10px;
    min-height: 46px;
    background-color: #33324a;
    border-radius: 8px;
}


/* WEATHER DETAILS */

.four-column-layout {
    display: flex;
    width: 100%;
    margin-top: 30px;
    gap: 20px;
}

.four-column-layout > div {
    flex: 1;
    min-width: 0;
}

.feels-like,
.humidity,
.wind,
.precipitation {
    color: white;
    background-color: #33324a;
    border-radius: 8px;
    padding: 16px;
    min-height: 90px;
}


footer {
    width: 100%;
    text-align: center;
    padding: 3px;
    color: black;
    border: 2px solid #1E293B;
    background-color: #dca460;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}